/*index.html pages style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #222;
    background-color: #f9f9f9;
}

header {
    background: #ffffff;
    border-bottom: 1px solid #ddd;
}

nav {
    font-display: auto;
    max-width: 1000px;
    margin: auto;
    padding: 1.1rem;
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

nav a:hover {
    color: #0077cc;
}

main {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 1rem;
}

#hero {
    margin-bottom: 4rem;
    padding: auto;
}

#hero h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: #111;
}

#hero h2 {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 0.8rem;
    color: #444;
}

#hero p:first-of-type {
    font-weight: 600px;
    margin-bottom: 1rem;
    color:#0077cc;
}

#hero p:last-of-type {
    max-width: 700px;
    color: #333;
}

footer {
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
    color: #555;
}

/*
section:first-of-type {
    margin-bottom: 3rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

section p {
    font-size: 1.1rem;
    max-width: 700px;
}*/



/*contact pages*/
#Contact {
    background-color: #fff;
    padding: 3rem;
    border-radius: 8px;
    max-width: 700px;
    margin: 2rem auto;
}

#Contact h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#Contact p {
    margin-bottom: 1.5rem;
    color: #374152;
}

#Contact ul {
    list-style: none;
    padding: 0;
}

#Contact li {
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

#Contact a {
    color: #2563eb;
    text-decoration: none;
}

#Contact a:hover {
    text-decoration: underline;
}

#Contact strong {
    color: #111827;
}

#Contact 